@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 3400px;
    background: linear-gradient(90deg, #7a93aa, #a6c3dd);
    background-size: 150% 150%;
    font-family: Ubuntu;
    display: flex;
    flex-wrap: wrap;
    color: rgba(0, 0, 0, 0.8);
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



#topbar{
    display: flex;
    top: 0;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between; /* Alinha itens à esquerda */
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1000;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.302);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.5s ease;
}

#topbar.topmaior{
    display: flex;
    top: 0;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between; /* Alinha itens à esquerda */
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1000;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.302);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.5s ease;
}

#topbar.topmaior img{
    height: 120px;
    transform: translateX();
    transition: all 0.5s ease;
    position: absolute;
}

#topbar.topmaior .links{
    display: flex;
    max-height: 50px;
    flex-wrap: wrap;
    transition: all 0.5s ease;
}

#topbar img{
    height: 65px;
    margin: 0 0 0 50px;
    transition: all 0.5s ease;
}
#topbar img:hover{
    cursor: pointer;
    filter: drop-shadow(4px 8px 3px rgba(0,0,0,0.2));
    transform: translate(-2px,-4px);
    transition: all 0.5s ease;
}

#topbar .links{
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px 0 0;
    transition: all 0.5s ease;
}

#topbar button{
    background-color: rgba(36, 66, 90, 0.2);
    display: flex;
    height: 40px;
    align-items: center; 
    padding: 0 15px; 
    border-radius: 8px; 
    cursor: pointer;
    margin: 0 10px;
    border: none;
    transition: all  0.5s;
    font-size: 14px;
    color: white;
    border: solid 2px rgba(255, 255, 255, 0.431);
}

#topbar button:hover{


    font-size: 18px;
    padding: 0 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.164);
    border-radius: 12px;
    text-shadow: rgba(0, 0, 0, 0.2) 0.1em 0.1em 0.2em;
    transform: translate(-2px,-4px) scale(1.05);
   
}


.container{
    background-color: rgba(255, 255, 255,0.2);       
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 200px;
    max-width: 60%;
    border-radius: 6px;
    justify-content: left;
    border: solid 3px rgba(0, 0, 0, 0.411);
    left: 5%;
    padding: 20px;
    gap: 40px;
    margin: 20px;
}
.container2{
    background-color: rgba(255, 255, 255,0.2);       
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    top: 200px;
    max-width: 20%;
    border-radius: 6px;
    justify-content: left;
    border: solid 3px rgba(0, 0, 0, 0.411);
    left: 70%;
    padding: 10px;
    gap: 40px;
    margin: 20px;
    border-radius: 12px;
}
.container h1{
    font-size: 300%;
    font-weight: bolder;
}

.container2 img{
    max-width: max-content;
    max-height: max-content;
    overflow: hidden;
    border: solid rgba(0, 0, 0, 0.45);
    border-radius: 12px;
    
    justify-items: right;
    transition: 0.3s ease;
}
.container2 img:hover{
    box-shadow: 0 0 100vh rgba(0, 0, 0, 0.33);
    transform: scale(1.05);
}
b{
    color: greenyellow;
    font-weight: bolder;   
    text-decoration: underline;
}

#seta{
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    cursor: pointer;
    padding: 20px;
    border-radius: 40px;
    top: 200vh;
    right: 20px;
    height: max-content;
    width: auto;
    z-index: 1000;
    transition: all 0.5s ease, top 1s ease;

}
#seta:hover{
    transform: scale(1.05);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.23);
    transform: translate(-2px,-4px);
        padding: 18px;
}
#seta img{
    height: 3vh;
    width: auto;
    transition: 0.5s ease;
    filter: invert(1) ;

}
#seta:hover img{
    height: 4vh;
    width: auto;
    transform: translate(-1px,-2px);
}
#titulo{
    font-size: 34px;
    color: #227d99;
    text-align: center;
    box-sizing: border-box;
    height: min-content;
    margin: 120px auto 0;
    background: linear-gradient(45deg, #186f98, #227d99, #228b99);
    background-clip:text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease;
}

#titulo h1{
    font-family: "Playfair Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    margin: auto;
}

#titulo::after{
    content: "";
    display: block;
    width: 0%;
    height: 4px;
    background: linear-gradient(45deg, #186f98, #227d99, #228b99);
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

#titulo:hover::after{
    width: 100%;
    transform: translateY(-10px);
}
#titulo:hover{
    font-size: 34.2px;
    transform: translateY(-5px);
}