*{
    margin: 0;
    padding: 0;
}
body{
    height: 3400px;
    background: linear-gradient(90deg, rgb(9, 207, 52), blue);
    background-size: 200% 200%;
    animation: infinite alternate backgroundMove 60s ease;
}

@keyframes backgroundMove{
    0%{background-position:0% 0%;}
    100%{background-position:100% 100%;}
}
